$icomoon-font-path: "fonts" !default;

$icon-brand: "\e909";
$icon-lRU0HjNUFM: "\e905";
$icon-wlCwBr5FkN2: "\e906";
$icon-x0fNT9puB73: "\e907";
$icon-twitter-square: "\f081";
$icon-facebook-square: "\f082";
$icon-linkedin-square: "\f08c";
$icon-github: "\f09b";
$icon-linkedin: "\f0e1";
$icon-github-alt: "\f113";
$icon-html5: "\f13b";
$icon-css3: "\f13c";
$icon-instagram: "\f16d";
$icon-adn: "\f170";
$icon-bitbucket: "\f171";
$icon-bitbucket-square: "\f172";
$icon-windows: "\f17a";
$icon-android: "\f17b";
$icon-skype: "\f17e";
$icon-trello: "\f181";
$icon-wordpress: "\f19a";
$icon-reddit: "\f1a1";
$icon-joomla: "\f1aa";
$icon-codepen: "\f1cb";
$icon-facebook-official: "\f230";
$icon-snapchat: "\f2ab";
$icon-snapchat-ghost: "\f2ac";
$icon-snapchat-square: "\f2ad";
$icon-user-circle: "\f2bd";
$icon-user-circle-o: "\f2be";
$icon-user-o: "\f2c0";
$icon-free-code-camp: "\f2c5";
$icon-wlCwBr5FkN: "\e900";
$icon-logo-path1: "\e901";
$icon-logo-path2: "\e902";
$icon-x0fNT9puB7: "\e903";
$icon-x0fNT9puB72: "\e904";
$icon-brand2: "\e90a";
$icon-wlCwBr5FkN2: "\e906";
$icon-codepen2: "\e908";

