@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?ucxscb');
  src:  url('#{$icomoon-font-path}/icomoon.eot?ucxscb#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?ucxscb') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?ucxscb') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?ucxscb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o {
  &:before {
    content: $icon-envelope-o;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-image {
  &:before {
    content: $icon-image;
  }
}
.icon-photo {
  &:before {
    content: $icon-photo;
  }
}
.icon-picture-o {
  &:before {
    content: $icon-picture-o;
  }
}
.icon-map-marker {
  &:before {
    content: $icon-map-marker;
  }
}
.icon-facebook-square2 {
  &:before {
    content: $icon-facebook-square2;
  }
}
.icon-thumbs-o-up {
  &:before {
    content: $icon-thumbs-o-up;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-lRU0HjNUFM {
  &:before {
    content: $icon-lRU0HjNUFM;
  }
}
.icon-wlCwBr5FkN2 {
  &:before {
    content: $icon-wlCwBr5FkN2;
  }
}
.icon-x0fNT9puB73 {
  &:before {
    content: $icon-x0fNT9puB73;
  }
}
.icon-facebook-square {
  &:before {
    content: $icon-facebook-square;
  }
}
.icon-linkedin-square {
  &:before {
    content: $icon-linkedin-square;
  }
}
.icon-github {
  &:before {
    content: $icon-github;
  }
}
.icon-github-alt {
  &:before {
    content: $icon-github-alt;
  }
}
.icon-wordpress {
  &:before {
    content: $icon-wordpress;
  }
}
.icon-joomla {
  &:before {
    content: $icon-joomla;
  }
}
.icon-codepen {
  &:before {
    content: $icon-codepen;
  }
}
.icon-user-circle {
  &:before {
    content: $icon-user-circle;
  }
}
.icon-free-code-camp {
  &:before {
    content: $icon-free-code-camp;
  }
}

