@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?regkml');
  src:  url('#{$icomoon-font-path}/icomoon.eot?regkml#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?regkml') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?regkml') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?regkml#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jetbrains-plain {
  &:before {
    content: $icon-jetbrains-plain;
  }
}
.icon-nodewebkit-line-wordmark {
  &:before {
    content: $icon-nodewebkit-line-wordmark;
  }
}
.icon-nodewebkit-line {
  &:before {
    content: $icon-nodewebkit-line;
  }
}
.icon-nodewebkit-plain-wordmark {
  &:before {
    content: $icon-nodewebkit-plain-wordmark;
  }
}
.icon-nodewebkit-plain {
  &:before {
    content: $icon-nodewebkit-plain;
  }
}
.icon-angularjs-plain-wordmark {
  &:before {
    content: $icon-angularjs-plain-wordmark;
  }
}
.icon-angularjs-plain {
  &:before {
    content: $icon-angularjs-plain;
  }
}
.icon-atom-original-wordmark {
  &:before {
    content: $icon-atom-original-wordmark;
  }
}
.icon-atom-original {
  &:before {
    content: $icon-atom-original;
  }
}
.icon-bootstrap-plain-wordmark {
  &:before {
    content: $icon-bootstrap-plain-wordmark;
  }
}
.icon-bootstrap-plain {
  &:before {
    content: $icon-bootstrap-plain;
  }
}
.icon-bower-line-wordmark {
  &:before {
    content: $icon-bower-line-wordmark;
  }
}
.icon-bower-line {
  &:before {
    content: $icon-bower-line;
  }
}
.icon-bower-plain-wordmark {
  &:before {
    content: $icon-bower-plain-wordmark;
  }
}
.icon-bower-plain {
  &:before {
    content: $icon-bower-plain;
  }
}
.icon-chrome-plain-wordmark {
  &:before {
    content: $icon-chrome-plain-wordmark;
  }
}
.icon-chrome-plain {
  &:before {
    content: $icon-chrome-plain;
  }
}
.icon-coffeescript-original-wordmark {
  &:before {
    content: $icon-coffeescript-original-wordmark;
  }
}
.icon-coffeescript-original {
  &:before {
    content: $icon-coffeescript-original;
  }
}
.icon-css3-plain-wordmark {
  &:before {
    content: $icon-css3-plain-wordmark;
  }
}
.icon-css3-plain {
  &:before {
    content: $icon-css3-plain;
  }
}
.icon-firefox-plain-wordmark {
  &:before {
    content: $icon-firefox-plain-wordmark;
  }
}
.icon-firefox-plain {
  &:before {
    content: $icon-firefox-plain;
  }
}
.icon-git-plain-wordmark {
  &:before {
    content: $icon-git-plain-wordmark;
  }
}
.icon-git-plain {
  &:before {
    content: $icon-git-plain;
  }
}
.icon-gulp-plain {
  &:before {
    content: $icon-gulp-plain;
  }
}
.icon-html5-plain-wordmark {
  &:before {
    content: $icon-html5-plain-wordmark;
  }
}
.icon-html5-plain {
  &:before {
    content: $icon-html5-plain;
  }
}
.icon-illustrator-line {
  &:before {
    content: $icon-illustrator-line;
  }
}
.icon-illustrator-plain {
  &:before {
    content: $icon-illustrator-plain;
  }
}
.icon-javascript-plain {
  &:before {
    content: $icon-javascript-plain;
  }
}
.icon-jquery-plain-wordmark {
  &:before {
    content: $icon-jquery-plain-wordmark;
  }
}
.icon-jquery-plain {
  &:before {
    content: $icon-jquery-plain;
  }
}
.icon-laravel-plain-wordmark {
  &:before {
    content: $icon-laravel-plain-wordmark;
  }
}
.icon-laravel-plain {
  &:before {
    content: $icon-laravel-plain;
  }
}
.icon-less-plain-wordmark {
  &:before {
    content: $icon-less-plain-wordmark;
  }
}
.icon-linux-plain {
  &:before {
    content: $icon-linux-plain;
  }
}
.icon-mysql-plain-wordmark {
  &:before {
    content: $icon-mysql-plain-wordmark;
  }
}
.icon-mysql-plain {
  &:before {
    content: $icon-mysql-plain;
  }
}
.icon-nodejs-plain-wordmark {
  &:before {
    content: $icon-nodejs-plain-wordmark;
  }
}
.icon-nodejs-plain {
  &:before {
    content: $icon-nodejs-plain;
  }
}
.icon-photoshop-line {
  &:before {
    content: $icon-photoshop-line;
  }
}
.icon-photoshop-plain {
  &:before {
    content: $icon-photoshop-plain;
  }
}
.icon-php-plain {
  &:before {
    content: $icon-php-plain;
  }
}
.icon-sass-original {
  &:before {
    content: $icon-sass-original;
  }
}
.icon-trello-plain-wordmark {
  &:before {
    content: $icon-trello-plain-wordmark;
  }
}
.icon-trello-plain {
  &:before {
    content: $icon-trello-plain;
  }
}
.icon-ubuntu-plain-wordmark {
  &:before {
    content: $icon-ubuntu-plain-wordmark;
  }
}
.icon-ubuntu-plain {
  &:before {
    content: $icon-ubuntu-plain;
  }
}
.icon-windows8-original-wordmark {
  &:before {
    content: $icon-windows8-original-wordmark;
  }
}
.icon-windows8-original {
  &:before {
    content: $icon-windows8-original;
  }
}
.icon-wordpress-plain-wordmark {
  &:before {
    content: $icon-wordpress-plain-wordmark;
  }
}
.icon-wordpress-plain {
  &:before {
    content: $icon-wordpress-plain;
  }
}
.icon-glass {
  &:before {
    content: $icon-glass;
  }
}
.icon-music {
  &:before {
    content: $icon-music;
  }
}
.icon-envelope-o {
  &:before {
    content: $icon-envelope-o;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-bookmark {
  &:before {
    content: $icon-bookmark;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;
  }
}
.icon-pencil-square-o {
  &:before {
    content: $icon-pencil-square-o;
  }
}
.icon-check-square-o {
  &:before {
    content: $icon-check-square-o;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-comment {
  &:before {
    content: $icon-comment;
  }
}
.icon-folder {
  &:before {
    content: $icon-folder;
  }
}
.icon-phone-square {
  &:before {
    content: $icon-phone-square;
  }
}
.icon-briefcase {
  &:before {
    content: $icon-briefcase;
  }
}
.icon-group {
  &:before {
    content: $icon-group;
  }
}
.icon-users {
  &:before {
    content: $icon-users;
  }
}
.icon-clipboard {
  &:before {
    content: $icon-clipboard;
  }
}
.icon-paste {
  &:before {
    content: $icon-paste;
  }
}
.icon-lightbulb-o {
  &:before {
    content: $icon-lightbulb-o;
  }
}
.icon-suitcase {
  &:before {
    content: $icon-suitcase;
  }
}
.icon-laptop {
  &:before {
    content: $icon-laptop;
  }
}
.icon-tablet {
  &:before {
    content: $icon-tablet;
  }
}
.icon-mobile {
  &:before {
    content: $icon-mobile;
  }
}
.icon-mobile-phone {
  &:before {
    content: $icon-mobile-phone;
  }
}
.icon-gamepad {
  &:before {
    content: $icon-gamepad;
  }
}
.icon-flag-o {
  &:before {
    content: $icon-flag-o;
  }
}
.icon-location-arrow {
  &:before {
    content: $icon-location-arrow;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-rocket {
  &:before {
    content: $icon-rocket;
  }
}
.icon-eur {
  &:before {
    content: $icon-eur;
  }
}
.icon-euro {
  &:before {
    content: $icon-euro;
  }
}
.icon-thumbs-up {
  &:before {
    content: $icon-thumbs-up;
  }
}
.icon-bitbucket {
  &:before {
    content: $icon-bitbucket;
  }
}
.icon-bitbucket-square {
  &:before {
    content: $icon-bitbucket-square;
  }
}
.icon-windows {
  &:before {
    content: $icon-windows;
  }
}
.icon-linux {
  &:before {
    content: $icon-linux;
  }
}
.icon-trello {
  &:before {
    content: $icon-trello;
  }
}
.icon-wordpress {
  &:before {
    content: $icon-wordpress;
  }
}
.icon-joomla {
  &:before {
    content: $icon-joomla;
  }
}
.icon-database {
  &:before {
    content: $icon-database;
  }
}
.icon-git-square {
  &:before {
    content: $icon-git-square;
  }
}
.icon-paper-plane-o {
  &:before {
    content: $icon-paper-plane-o;
  }
}
.icon-send-o {
  &:before {
    content: $icon-send-o;
  }
}
.icon-paint-brush {
  &:before {
    content: $icon-paint-brush;
  }
}
.icon-facebook-official {
  &:before {
    content: $icon-facebook-official;
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp;
  }
}
.icon-mouse-pointer {
  &:before {
    content: $icon-mouse-pointer;
  }
}
.icon-hand-peace-o {
  &:before {
    content: $icon-hand-peace-o;
  }
}
.icon-chrome {
  &:before {
    content: $icon-chrome;
  }
}
.icon-firefox {
  &:before {
    content: $icon-firefox;
  }
}
.icon-calendar-check-o {
  &:before {
    content: $icon-calendar-check-o;
  }
}
.icon-handshake-o {
  &:before {
    content: $icon-handshake-o;
  }
}
.icon-address-card {
  &:before {
    content: $icon-address-card;
  }
}
.icon-vcard {
  &:before {
    content: $icon-vcard;
  }
}
.icon-address-card-o {
  &:before {
    content: $icon-address-card-o;
  }
}
.icon-vcard-o {
  &:before {
    content: $icon-vcard-o;
  }
}
.icon-user-circle2 {
  &:before {
    content: $icon-user-circle2;
  }
}
.icon-user-circle-o {
  &:before {
    content: $icon-user-circle-o;
  }
}
.icon-user-o {
  &:before {
    content: $icon-user-o;
  }
}
.icon-drivers-license {
  &:before {
    content: $icon-drivers-license;
  }
}
.icon-id-card {
  &:before {
    content: $icon-id-card;
  }
}
.icon-drivers-license-o {
  &:before {
    content: $icon-drivers-license-o;
  }
}
.icon-id-card-o {
  &:before {
    content: $icon-id-card-o;
  }
}
.icon-telegram {
  &:before {
    content: $icon-telegram;
  }
}
.icon-envelope-o2 {
  &:before {
    content: $icon-envelope-o2;
  }
}
.icon-check2 {
  &:before {
    content: $icon-check2;
  }
}
.icon-home2 {
  &:before {
    content: $icon-home2;
  }
}
.icon-image {
  &:before {
    content: $icon-image;
  }
}
.icon-photo {
  &:before {
    content: $icon-photo;
  }
}
.icon-picture-o {
  &:before {
    content: $icon-picture-o;
  }
}
.icon-map-marker {
  &:before {
    content: $icon-map-marker;
  }
}
.icon-facebook-square2 {
  &:before {
    content: $icon-facebook-square2;
  }
}
.icon-thumbs-o-up {
  &:before {
    content: $icon-thumbs-o-up;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-lRU0HjNUFM {
  &:before {
    content: $icon-lRU0HjNUFM;
  }
}
.icon-wlCwBr5FkN2 {
  &:before {
    content: $icon-wlCwBr5FkN2;
  }
}
.icon-x0fNT9puB73 {
  &:before {
    content: $icon-x0fNT9puB73;
  }
}
.icon-facebook-square {
  &:before {
    content: $icon-facebook-square;
  }
}
.icon-linkedin-square {
  &:before {
    content: $icon-linkedin-square;
  }
}
.icon-github {
  &:before {
    content: $icon-github;
  }
}
.icon-github-alt {
  &:before {
    content: $icon-github-alt;
  }
}
.icon-wordpress2 {
  &:before {
    content: $icon-wordpress2;
  }
}
.icon-joomla2 {
  &:before {
    content: $icon-joomla2;
  }
}
.icon-codepen {
  &:before {
    content: $icon-codepen;
  }
}
.icon-user-circle {
  &:before {
    content: $icon-user-circle;
  }
}
.icon-free-code-camp {
  &:before {
    content: $icon-free-code-camp;
  }
}

