@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?regkml');
  src:  url('fonts/icomoon.eot?regkml#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?regkml') format('truetype'),
    url('fonts/icomoon.woff?regkml') format('woff'),
    url('fonts/icomoon.svg?regkml#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jetbrains-plain:before {
  content: "\e63d";
}
.icon-nodewebkit-line-wordmark:before {
  content: "\e611";
}
.icon-nodewebkit-line:before {
  content: "\e612";
}
.icon-nodewebkit-plain-wordmark:before {
  content: "\e613";
}
.icon-nodewebkit-plain:before {
  content: "\e614";
}
.icon-angularjs-plain-wordmark:before {
  content: "\e61c";
}
.icon-angularjs-plain:before {
  content: "\e61d";
}
.icon-atom-original-wordmark:before {
  content: "\e623";
}
.icon-atom-original:before {
  content: "\e624";
}
.icon-bootstrap-plain-wordmark:before {
  content: "\e62e";
}
.icon-bootstrap-plain:before {
  content: "\e62f";
}
.icon-bower-line-wordmark:before {
  content: "\e630";
}
.icon-bower-line:before {
  content: "\e631";
}
.icon-bower-plain-wordmark:before {
  content: "\e64e";
}
.icon-bower-plain:before {
  content: "\e64f";
}
.icon-chrome-plain-wordmark:before {
  content: "\e665";
}
.icon-chrome-plain:before {
  content: "\e666";
}
.icon-coffeescript-original-wordmark:before {
  content: "\e669";
}
.icon-coffeescript-original:before {
  content: "\e66a";
}
.icon-css3-plain-wordmark:before {
  content: "\e678";
}
.icon-css3-plain:before {
  content: "\e679";
}
.icon-firefox-plain-wordmark:before {
  content: "\e75d";
}
.icon-firefox-plain:before {
  content: "\e75e";
}
.icon-git-plain-wordmark:before {
  content: "\e7a7";
}
.icon-git-plain:before {
  content: "\e7a8";
}
.icon-gulp-plain:before {
  content: "\e7ec";
}
.icon-html5-plain-wordmark:before {
  content: "\e7f6";
}
.icon-html5-plain:before {
  content: "\e7f7";
}
.icon-illustrator-line:before {
  content: "\e7f9";
}
.icon-illustrator-plain:before {
  content: "\e7fa";
}
.icon-javascript-plain:before {
  content: "\e845";
}
.icon-jquery-plain-wordmark:before {
  content: "\e849";
}
.icon-jquery-plain:before {
  content: "\e84a";
}
.icon-laravel-plain-wordmark:before {
  content: "\e851";
}
.icon-laravel-plain:before {
  content: "\e852";
}
.icon-less-plain-wordmark:before {
  content: "\e853";
}
.icon-linux-plain:before {
  content: "\eb1c";
}
.icon-mysql-plain-wordmark:before {
  content: "\eb60";
}
.icon-mysql-plain:before {
  content: "\eb61";
}
.icon-nodejs-plain-wordmark:before {
  content: "\eb69";
}
.icon-nodejs-plain:before {
  content: "\eb6a";
}
.icon-photoshop-line:before {
  content: "\eb6c";
}
.icon-photoshop-plain:before {
  content: "\eb6d";
}
.icon-php-plain:before {
  content: "\eb71";
}
.icon-sass-original:before {
  content: "\ebcb";
}
.icon-trello-plain-wordmark:before {
  content: "\ebce";
}
.icon-trello-plain:before {
  content: "\ebcf";
}
.icon-ubuntu-plain-wordmark:before {
  content: "\ebd0";
}
.icon-ubuntu-plain:before {
  content: "\ebd1";
}
.icon-windows8-original-wordmark:before {
  content: "\ebf4";
}
.icon-windows8-original:before {
  content: "\ebf5";
}
.icon-wordpress-plain-wordmark:before {
  content: "\ebfd";
}
.icon-wordpress-plain:before {
  content: "\ebfe";
}
.icon-glass:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-envelope-o:before {
  content: "\f004";
}
.icon-heart:before {
  content: "\f005";
}
.icon-user:before {
  content: "\f007";
}
.icon-check:before {
  content: "\f00d";
}
.icon-home:before {
  content: "\f016";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-edit:before {
  content: "\f044";
}
.icon-pencil-square-o:before {
  content: "\f044";
}
.icon-check-square-o:before {
  content: "\f046";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-comment:before {
  content: "\f075";
}
.icon-folder:before {
  content: "\f07b";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-clipboard:before {
  content: "\f0ea";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-lightbulb-o:before {
  content: "\f0eb";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-tablet:before {
  content: "\f10a";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-gamepad:before {
  content: "\f11b";
}
.icon-flag-o:before {
  content: "\f11d";
}
.icon-location-arrow:before {
  content: "\f124";
}
.icon-info:before {
  content: "\f129";
}
.icon-rocket:before {
  content: "\f135";
}
.icon-eur:before {
  content: "\f153";
}
.icon-euro:before {
  content: "\f153";
}
.icon-thumbs-up:before {
  content: "\f164";
}
.icon-bitbucket:before {
  content: "\f171";
}
.icon-bitbucket-square:before {
  content: "\f172";
}
.icon-windows:before {
  content: "\f17a";
}
.icon-linux:before {
  content: "\f17c";
}
.icon-trello:before {
  content: "\f181";
}
.icon-wordpress:before {
  content: "\f19b";
}
.icon-joomla:before {
  content: "\f1ab";
}
.icon-database:before {
  content: "\f1c0";
}
.icon-git-square:before {
  content: "\f1d2";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-paint-brush:before {
  content: "\f1fc";
}
.icon-facebook-official:before {
  content: "\f230";
}
.icon-whatsapp:before {
  content: "\f232";
}
.icon-mouse-pointer:before {
  content: "\f245";
}
.icon-hand-peace-o:before {
  content: "\f25b";
}
.icon-chrome:before {
  content: "\f268";
}
.icon-firefox:before {
  content: "\f269";
}
.icon-calendar-check-o:before {
  content: "\f274";
}
.icon-handshake-o:before {
  content: "\f2b5";
}
.icon-address-card:before {
  content: "\f2bb";
}
.icon-vcard:before {
  content: "\f2bb";
}
.icon-address-card-o:before {
  content: "\f2bc";
}
.icon-vcard-o:before {
  content: "\f2bc";
}
.icon-user-circle2:before {
  content: "\f2be";
}
.icon-user-circle-o:before {
  content: "\f2bf";
}
.icon-user-o:before {
  content: "\f2c0";
}
.icon-drivers-license:before {
  content: "\f2c2";
}
.icon-id-card:before {
  content: "\f2c2";
}
.icon-drivers-license-o:before {
  content: "\f2c3";
}
.icon-id-card-o:before {
  content: "\f2c3";
}
.icon-telegram:before {
  content: "\f2c6";
}
.icon-envelope-o2:before {
  content: "\f003";
}
.icon-check2:before {
  content: "\f00c";
}
.icon-home2:before {
  content: "\f015";
}
.icon-image:before {
  content: "\f03e";
}
.icon-photo:before {
  content: "\f03e";
}
.icon-picture-o:before {
  content: "\f03e";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-facebook-square2:before {
  content: "\f083";
}
.icon-thumbs-o-up:before {
  content: "\f088";
}
.icon-phone:before {
  content: "\f096";
}
.icon-lRU0HjNUFM:before {
  content: "\e905";
}
.icon-wlCwBr5FkN2:before {
  content: "\e906";
}
.icon-x0fNT9puB73:before {
  content: "\e907";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-github:before {
  content: "\f09b";
}
.icon-github-alt:before {
  content: "\f113";
}
.icon-wordpress2:before {
  content: "\f19a";
}
.icon-joomla2:before {
  content: "\f1aa";
}
.icon-codepen:before {
  content: "\f1cb";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-free-code-camp:before {
  content: "\f2c5";
}
