$icomoon-font-path: "fonts" !default;

$icon-envelope-o: "\f003";
$icon-check: "\f00c";
$icon-home: "\f015";
$icon-image: "\f03e";
$icon-photo: "\f03e";
$icon-picture-o: "\f03e";
$icon-map-marker: "\f041";
$icon-facebook-square2: "\f083";
$icon-thumbs-o-up: "\f088";
$icon-phone: "\f096";
$icon-lRU0HjNUFM: "\e905";
$icon-wlCwBr5FkN2: "\e906";
$icon-x0fNT9puB73: "\e907";
$icon-facebook-square: "\f082";
$icon-linkedin-square: "\f08c";
$icon-github: "\f09b";
$icon-github-alt: "\f113";
$icon-wordpress: "\f19a";
$icon-joomla: "\f1aa";
$icon-codepen: "\f1cb";
$icon-user-circle: "\f2bd";
$icon-free-code-camp: "\f2c5";

