$icomoon-font-path: "fonts" !default;

$icon-jetbrains-plain: "\e63d";
$icon-nodewebkit-line-wordmark: "\e611";
$icon-nodewebkit-line: "\e612";
$icon-nodewebkit-plain-wordmark: "\e613";
$icon-nodewebkit-plain: "\e614";
$icon-angularjs-plain-wordmark: "\e61c";
$icon-angularjs-plain: "\e61d";
$icon-atom-original-wordmark: "\e623";
$icon-atom-original: "\e624";
$icon-bootstrap-plain-wordmark: "\e62e";
$icon-bootstrap-plain: "\e62f";
$icon-bower-line-wordmark: "\e630";
$icon-bower-line: "\e631";
$icon-bower-plain-wordmark: "\e64e";
$icon-bower-plain: "\e64f";
$icon-chrome-plain-wordmark: "\e665";
$icon-chrome-plain: "\e666";
$icon-coffeescript-original-wordmark: "\e669";
$icon-coffeescript-original: "\e66a";
$icon-css3-plain-wordmark: "\e678";
$icon-css3-plain: "\e679";
$icon-firefox-plain-wordmark: "\e75d";
$icon-firefox-plain: "\e75e";
$icon-git-plain-wordmark: "\e7a7";
$icon-git-plain: "\e7a8";
$icon-gulp-plain: "\e7ec";
$icon-html5-plain-wordmark: "\e7f6";
$icon-html5-plain: "\e7f7";
$icon-illustrator-line: "\e7f9";
$icon-illustrator-plain: "\e7fa";
$icon-javascript-plain: "\e845";
$icon-jquery-plain-wordmark: "\e849";
$icon-jquery-plain: "\e84a";
$icon-laravel-plain-wordmark: "\e851";
$icon-laravel-plain: "\e852";
$icon-less-plain-wordmark: "\e853";
$icon-linux-plain: "\eb1c";
$icon-mysql-plain-wordmark: "\eb60";
$icon-mysql-plain: "\eb61";
$icon-nodejs-plain-wordmark: "\eb69";
$icon-nodejs-plain: "\eb6a";
$icon-photoshop-line: "\eb6c";
$icon-photoshop-plain: "\eb6d";
$icon-php-plain: "\eb71";
$icon-sass-original: "\ebcb";
$icon-trello-plain-wordmark: "\ebce";
$icon-trello-plain: "\ebcf";
$icon-ubuntu-plain-wordmark: "\ebd0";
$icon-ubuntu-plain: "\ebd1";
$icon-windows8-original-wordmark: "\ebf4";
$icon-windows8-original: "\ebf5";
$icon-wordpress-plain-wordmark: "\ebfd";
$icon-wordpress-plain: "\ebfe";
$icon-glass: "\f000";
$icon-music: "\f001";
$icon-envelope-o: "\f004";
$icon-heart: "\f005";
$icon-user: "\f007";
$icon-check: "\f00d";
$icon-home: "\f016";
$icon-bookmark: "\f02e";
$icon-edit: "\f044";
$icon-pencil-square-o: "\f044";
$icon-check-square-o: "\f046";
$icon-calendar: "\f073";
$icon-comment: "\f075";
$icon-folder: "\f07b";
$icon-phone-square: "\f098";
$icon-briefcase: "\f0b1";
$icon-group: "\f0c0";
$icon-users: "\f0c0";
$icon-clipboard: "\f0ea";
$icon-paste: "\f0ea";
$icon-lightbulb-o: "\f0eb";
$icon-suitcase: "\f0f2";
$icon-laptop: "\f109";
$icon-tablet: "\f10a";
$icon-mobile: "\f10b";
$icon-mobile-phone: "\f10b";
$icon-gamepad: "\f11b";
$icon-flag-o: "\f11d";
$icon-location-arrow: "\f124";
$icon-info: "\f129";
$icon-rocket: "\f135";
$icon-eur: "\f153";
$icon-euro: "\f153";
$icon-thumbs-up: "\f164";
$icon-bitbucket: "\f171";
$icon-bitbucket-square: "\f172";
$icon-windows: "\f17a";
$icon-linux: "\f17c";
$icon-trello: "\f181";
$icon-wordpress: "\f19b";
$icon-joomla: "\f1ab";
$icon-database: "\f1c0";
$icon-git-square: "\f1d2";
$icon-paper-plane-o: "\f1d9";
$icon-send-o: "\f1d9";
$icon-paint-brush: "\f1fc";
$icon-facebook-official: "\f230";
$icon-whatsapp: "\f232";
$icon-mouse-pointer: "\f245";
$icon-hand-peace-o: "\f25b";
$icon-chrome: "\f268";
$icon-firefox: "\f269";
$icon-calendar-check-o: "\f274";
$icon-handshake-o: "\f2b5";
$icon-address-card: "\f2bb";
$icon-vcard: "\f2bb";
$icon-address-card-o: "\f2bc";
$icon-vcard-o: "\f2bc";
$icon-user-circle2: "\f2be";
$icon-user-circle-o: "\f2bf";
$icon-user-o: "\f2c0";
$icon-drivers-license: "\f2c2";
$icon-id-card: "\f2c2";
$icon-drivers-license-o: "\f2c3";
$icon-id-card-o: "\f2c3";
$icon-telegram: "\f2c6";
$icon-envelope-o2: "\f003";
$icon-check2: "\f00c";
$icon-home2: "\f015";
$icon-image: "\f03e";
$icon-photo: "\f03e";
$icon-picture-o: "\f03e";
$icon-map-marker: "\f041";
$icon-facebook-square2: "\f083";
$icon-thumbs-o-up: "\f088";
$icon-phone: "\f096";
$icon-lRU0HjNUFM: "\e905";
$icon-wlCwBr5FkN2: "\e906";
$icon-x0fNT9puB73: "\e907";
$icon-facebook-square: "\f082";
$icon-linkedin-square: "\f08c";
$icon-github: "\f09b";
$icon-github-alt: "\f113";
$icon-wordpress2: "\f19a";
$icon-joomla2: "\f1aa";
$icon-codepen: "\f1cb";
$icon-user-circle: "\f2bd";
$icon-free-code-camp: "\f2c5";

