.view,
body,
html {
  height: 100%;
}

body {
  padding: 0 !important;
}

.section {
  padding: 0 !important;
}

#home {
  background-color: $blueGrey_1;
  .container-fluid {
    padding: 0px !important;
  }

  .divider-new h2 {
    margin-top: 20px;
  }
}