#resume {
    background-color: #90a4ae;
    padding: 30px;
    nav {
        background-color: #3c4f74;
    }
    .container {
        background-color: #e0e0e0;
        .row {
            padding: 15px;
            .card {
                // margin: 15px 0px;
            }
        }
    }
}
