@import './t-scroll/_include.scss';
@import '../font/icomoon/style.scss';
// .tropa {
//     background-image: 'dist/img/wlCwBr5FkN.svg';
//     width: 50px !important;
//     height: 50px !important;
// }


body{
    // text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

html,
body,
.view {
    height: 100%;
}

#header {
    background-image: url('../img/header-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100% !important;
    min-height: 100% !important;
    .bck {
        background-color: rgba(0, 0, 0, .2);
        height: 100%;
        .container {
            height: 80% !important;
            .jumbotron {
                box-shadow: 0px 0px 0px !important;
                background-color: transparent !important;
                padding-top: 19%;
                a{
                    font-size: 25px;
                }
                p,
                a,
                h1 {
                    text-align: center;
                    color: #fff;
                    display: flow-root;
                    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
                }
                hr {
                    border-top: 1px solid rgba(255, 255, 255, .7) !important;
                }
            }
        }
    }
}


/* Navigation*/

.navbar {
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    .navbar-rigth {
        // background-color: #3c4f74;
        margin-left: auto;
        li.nav-item {
            text-align: center;
        }
    }
}

.scrolling-navbar {
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #3c4f74;
}

footer.page-footer {
    background-color: #3c4f74;
    margin-top: 2rem;
    padding-top: 0px !important;
}

@media only screen and (max-width: 990px) {
    .navbar {
        background-color: #1c2331;
        .navbar-rigth {
            background-color: #3c4f74;
            margin-left: auto;
            li.nav-item {
                text-align: center;
            }
        }
    }
}

.view {
    background: url("https://s18.postimg.org/lctx0vzxl/header-2.jpg")no-repeat center center fixed;
    background-size: cover;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    a {
        // font-size: 30px;
        color: #fff;
        margin: 15px;
    }
}

#about {
    ul {
        li {
            float: left;
            margin: 7px;
            list-style: none;
        }
    }
    img {
        width: 150px;
    }
}

#portfolio {
    img {
        transition: all 200ms ease-in-out-back;
        &:hover {
            box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
        }
    }
}


/* Global*/

.mx-auto {
    display: block !important;
}
