$enable-flex: true !default;
$enable-shadows: true !default;
$enable-gradients: true !default;
$enable-hover-media-query: true !default;
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/mdbootstrap/sass/mdb.scss'; 
@import './_scrolling-nav.scss';
@import '../font/icons/style.scss';
@import './now-ui/now-ui-kit.scss';
@import './resume/_resume.scss'; 
@import './global';
@import '../font/profitcreationsgithub/styles.scss';
@import './index/index';



